// Tipografia
$fuente_principal: 'Inter', sans-serif;

// Colores
$blanco: #FFFFFF;
$negro: #000000;
$azul: #0D6EFD;
$azul-oscuro: #0A58CA;
$gris: #6c757d;
$gris-claro: #F8F9FA;
$gris-50: #f0f1f3;
$gris-500: rgb(107, 114, 128);
$gris-border: #e5e7eb;
$gris-inputs: #9ca3af;
$rojo-500: rgb(239, 68, 68);
$rojo-600: rgb(220, 38, 38);
$verde-500: rgb(34, 197, 94);
$info: #0dcaf0;
$info-hover: #31d2f2;
$editar: #ffc107;
$editar-hover: #ffc720;

// Tamaños de media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1450px;

// Sombra para los Box
$box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
